.row
  .col-md-6.col-md-offset-3
    %span.label.label-success Cleanliness
    - ["Value","Location","Rooms","Service"].each do |label|
      =link_to label, nil, :class=>"label label-default"
    .navigate.pull-right
      =link_to "previous", nil, :class=>"btn btn-xs btn-primary"
      =link_to "next", nil, :class=>"btn btn-xs btn-primary"

.row
  .col-md-3.left-bar
    %section#review
      %h4 Review
      %table.table
        %tr
          %th Source
          %td=@review.source_name.humanize
        %tr
          %th Publish Date
          %td=@review.review_date.to_s(:long)
        %tr
          %th Month of stay
          %td=l @review.visit_date, :format=>:month

    %section#ratings
      %h4 Rating details
      %table.table
        -@review.ratings.each do |rating|
          %tr
            %th=rating.topic.capitalize
            %td=star(rating.stars)

    %section#author
      %h4 Author
      %table.table
        %tr
          %th Name
          %td=@review.reviewer.name
        %tr
          %th Location
          %td=@review.reviewer.location
        %tr
          %th Contributions
          %td=rand(10)+1

  .col-md-6
    %h1.page-header
      = @review.title
      %span.glyphicon.glyphicon-star.star.pull-right
      %small
        %span.date=@review.review_date.to_s(:long)
    %h3 Review summary
    .well
      .row
        .positive.col-md-6
          - @review.opinion_expressions.positive.each do |opinion_expression|
            %blockquote=quotify(opinion_expression.body)
        .negative.col-md-6
          - @review.opinion_expressions.negative.each do |opinion_expression|
            %blockquote=quotify(opinion_expression.body)
    %hr/
    .review-comment
      %h3 Review text
      %p
        =@review.general_comment.body
    %hr/
    .related-reviews
      %h3 Related reviews
      .row
        .related.col-md-6
          .positive
            %blockquote
              =quotify("this is positive quote")
              %small="Peter Boermans, "+rand(20).days.ago.to_s(:short)
        .related.col-md-6
          .positive
            %blockquote
              =quotify("this is positive quote")
              %small="Peter Boermans, "+rand(20).days.ago.to_s(:short)
        .related.col-md-6
          .positive
            %blockquote
              =quotify("this is positive quote")
              %small="Peter Boermans, "+rand(20).days.ago.to_s(:short)
        .related.col-md-6
          .negative
            %blockquote
              =quotify("this is negative quote")
              %small="Peter Boermans, "+rand(20).days.ago.to_s(:short)
  .col-md-3.right-bar
    %section#actions
      %h4 Actions
      %ul.list-group
        %li.list-group-item
          %span.glyphicon.glyphicon-font
          =link_to "Translate"
        %li.list-group-item
          %span.glyphicon.glyphicon-repeat
          =link_to "Change sentiment"
        %li.list-group-item
          %span.glyphicon.glyphicon-share-alt
          =link_to "Send to colleague"
        %li.list-group-item
          %span.glyphicon.glyphicon-pencil
          =link_to "Respond"
    %section#notes
      %h4
        Notes
        =link_to "New note", nil, :class=>"btn btn-primary btn-xs pull-right"
      .list-group
        =link_to nil, :class=>"list-group-item" do
          %h5.list-group-item-heading Note number 1
          %p Lorem Lipsum ...
        =link_to nil, :class=>"list-group-item" do
          %h5.list-group-item-heading Note number 2
          %p Lorem Lipsum ...
        =link_to nil, :class=>"list-group-item" do
          %h5.list-group-item-heading Note number 3
          %p Lorem Lipsum ...

    %section#tasks
      %h4
        Tasks
        =link_to "New Task", nil, :class=>"btn btn-primary btn-xs pull-right"
      .list-group
        =link_to nil, :class=>"list-group-item" do
          %h5.list-group-item-heading Task number 1
          %p Lorem Lipsum ...
        =link_to nil, :class=>"list-group-item" do
          %h5.list-group-item-heading Task number 2
          %p Lorem Lipsum ...
        =link_to nil, :class=>"list-group-item" do
          %h5.list-group-item-heading Task number 3
          %p Lorem Lipsum ...
