<div class="modal-dialog">
  <div class="modal-content">
    <%= simple_form_for [@review, @task], :remote=>true, :data=>{:'update-target'=>"#tasks-list"} do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New task</h4>
      </div>
      <div class="modal-body">
        <%=f.input :email%>
        <%=f.input :body, :label=>"Task description", :input_html=>{:cols=>80, :rows=>5} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
        <button type="submit" class="btn btn-primary">save changes</button>
      </div>
    </div><!-- /.modal-content -->
  <% end %>
</div><!-- /.modal-dialog -->

